@import "variables.scss";

#work {
    width: 100%;
    height: auto;
    padding: 4rem $p;
    padding-bottom: 0;
    > h2 {
      font: 800 2.5rem $text2;
      width: fit-content;
      border-bottom: 2px solid $color6_1;
      padding: 0.5rem;
      margin: auto;
    }
  
    > section {
      margin-top: 3rem;
      width: 100%;
      height: 100%;
      background-color: $color5;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5rem;
  
      > article {
        width: 100%;
        height: 100%;
      }
  
      .workItem {
        overflow-y: auto;
        height: 100%;
        width: 100%;
        margin: auto;
        background-color: $color4;
        display: flex;
        padding: 2.5rem;
        box-shadow: 0 0 20px 5px $color1;
  
        > img {
          border-radius: 20px;
          width: 45%;
          object-fit: cover;
        }
  
        > aside {
          width: 55%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          > p {
            letter-spacing: 3px;
            line-height: 180%;
            margin: 2rem;
          }
          > a {
            background-color: $color3;
            padding: 0.7rem 2rem;
            margin: 2rem;
            color: $color4;
            transition: all 0.5s;
            &:hover {
              background-color: $color3_1;
            }
          }
        }
      }
    }
  }
  .carousel .control-dots .dot{
    background-color: black;
  }